*{
     margin: 0;
     padding: 0;
}
body{
     background-image: url(wallpaper.jpg);
     background-size: cover;
     background-attachment: fixed;
     height: 100vh;
     font-family: Arial, Helvetica, sans-serif;
}
.content{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     background-color: white;
     width: 500px;
     border: 1px;
     border-radius: 10px;
     color: #34495e;;
     padding: 30px 50px 50px 50px;
}
.content h1{
     text-align: center;
     padding: 20px 0 40px 0;
     font-size: 50px;
}
.gray{
     font-size: 14px;
}
.tre{
     border: none;
     background: none;
     outline: none;
     font-size: 20px;
}
.use{
     width: 100%;
     border-bottom: 2px solid #34495e;
}
.t{
     padding: 20px 0 10px 0;
}
.use{
     padding: 26px 0 0 0;
}
.fa-solid{
     padding: 0 14px 0 10px;
}
.oi {
     float: right;
     width: 100%;
     display: inline-block;
     padding: 14px 0 20px 0;
     text-align: right;
}
.poi{
     background: none;
     background-image: linear-gradient(to right, #1c800f, #14269e);
     border: none;
     outline: none;
     width: 100%;
     display: inline-block;
     border: 1px;
     border-radius: 30px;
     font-size: 20px;
     padding: 14px 0 14px 0;
}
.k{
     display: inline-block;
     text-align: center;
     padding: 50px 0 0 0;
     width: 100%;
}
.icon {
     display: inline-block;
     text-align: center;
     width: 100%;
     height: 60px;
     padding: 20px 0 0 0;
     font-size: 30px;
 }
 .fa-brands{
     border: 2px;
     border-radius: 40px;
     color: white;
 }
.fa-facebook-f{
     background-color: rgb(0, 68, 255);
     padding: 24px 28px;
     font-size: 25px;
 }
 .fa-twitter{
     background-color:dodgerblue;
     padding: 20px 20px;
 }
 .fa-google{
     background-color: orangered;
     padding: 20px 20px;
 }
.p{
     padding-top: 40px;
}
.o{
     text-decoration: none;
     color: #34495e;
     padding-top: 16px;
}
 .l{
     display: inline-block;
     text-align: center;
     width: 100%;

 }